body{
    margin: 1px;
    font-family:'Roboto', sans-serif;
    background-color: #C9DDF5;
    font-size: 15px;
}
div{
    margin: 5px;
    border: 1px solid black;
}
div:nth-child(5){    
    background-color: white;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    color: #606A75;
    }
.menu li{
    display: inline-block;
}
ol{
   text-align: right;
}
img{
    margin-left: 10px;
    width:200px;
    height: 200px;
    padding:1px;
    border-radius: 50%;
    background-color: white;
}
#foto {
    border: 1px solid black;
    display: inline-block;
    min-height: 220px;
    padding-top: 40px;
}
#sobre {
    float:right ;
    background:white;
    opacity:60%;
    max-width:70%;
    min-height: 250px;
    border-radius: 30px;
}
p{
    padding-left:10px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 30px;
    text-align:justify;
    letter-spacing: 1px;
}
.sub-titulo{
    color: #606A75;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
}
.lista{
    display: inline-block;
}