body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #C9DDF5;
    font-size: 15px;
}

div{
    margin: 10px;
    background-color: white;
}
.titulo-principal{
    text-align: center;
    font-family: unset;
    font-size: 2em;
    color: #606A75;
    }

div img{
    width:200px;
    padding:;
    border: 5px solid black;
    
}
    
.sub-titulo{
color: #9E4747;
font-size: 25px;
font-weight: 600;
letter-spacing: 1px;
text-decoration: underline;
}
#descrições{
line-height: 30px;
text-align: justify;
letter-spacing: 1px;
}
.lista{
font-size: 18px;
color: #D15E5E;
}
/* #photo{
border-radius: %;
}*/

