        body{
            font-family: sans-serif;
            background-color: #D9C3C3;
            font-size: 20px;
        }

        .titulo-principal{
            font-family: unset;
            font-size: 2em;
            color: #522525;
                }
        .sub-titulo{
            color: #9E4747;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1px;
            text-decoration: underline;
        }
        #descrições{
            line-height: 30px;
            text-align: justify;
            letter-spacing: 1px;
        }
        .lista{
            font-size: 18px;
            color: #D15E5E;
        }
       /* #photo{
            border-radius: 30%;
        }*/
        
